# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
token
mod.sh
# Ignore virtual environments
.venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temp files
*.log
*.tmp

# Ignore IDE and editor files
.vscode/
.idea/
*.swp

# Ignore Git-related conflicts
*.orig

# Ignore CSV et PKL  
*.csv 
*.pkl
*.png

# Other Folder 
0D*
1D/
mechanisms/ 
bazar/
Valide_1case/
Valdie_25case/